<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884941310596-ajakb6hsh2alo7j88nnpoeb9135co6dk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884941310596-ajakb6hsh2alo7j88nnpoeb9135co6dk</string>
	<key>API_KEY</key>
	<string>AIzaSyAvSzMtq9YVsYD9oIcKI0AK62D7rCK7cHY</string>
	<key>GCM_SENDER_ID</key>
	<string>884941310596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stewartclay.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-a43a8</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-a43a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884941310596:ios:e950ff0e9c73ece138d0d1</string>
</dict>
</plist>